<h1>Seja bem Vindo ao Arteliê</h1>

<h4 class="text-danger">{{ anuncio}}</h4>
<div class="col">
  <div class="row">
    <app-card-produto
    foto="foto"
    nomeProduto="Vaso de Argila"
    [promocao]="promocao"
    [idProduto]="idProduto"
    dataValidade="date"
    [precoProduto]="precoProduto"
  ></app-card-produto>
  </div>
 <!-- <div class="col">
    <app-card-produto>
      [promocao]="false"
      [idProduto]="7"
      [dataValidade]="date"
      [precoProduto]="precoProduto"
    </app-card-produto>
  </div>
</div> -->







<!--<div class="card"></div>-->
