<h1>Seja bem Vindo ao Curso de Angular!</h1>

<h4 class="text-danger">{{ anuncio}}</h4>
<div class="row">
  <div class="col">
    <app-card-produto
    [foto]="foto"
    [nomeProduto]="nomeProduto"
    [promocao]="promocao"
    [idProduto]="idProduto"
    [dataValidade]="dataValidade"
    [precoProduto]="precoProduto"
  ></app-card-produto>
  </div>
  <div class="col">
    <app-card-produto>
      foto="https://s2.glbimg.com/POQby3wH-uCdqwb7wufczPaBlMY=/620x455/e.glbimg.com/og/ed/f/original/2018/10/24/casa-nasce-uma-estrela-sala.jpg"
      nomeProduto="Casa de Inverno"
      [promocao]="false"
      [idProduto]="7"
      dataValidade="07-01-2025"
      [precoProduto]="3500.00"
    </app-card-produto>
  </div>
</div>







<!--<div class="card"></div>-->
