<!--
<h1>Teste</h1>
<div class="alet alert-primary" role="alert">
  A simple primary alert-check it out!
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="../assets/img/logo_horacio.png" />
      </div>
    </div>
  </div>


<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="../assets/img/crud.png" />
      </div>
    </div>
  </div>
-->
<h1>Apresentação</h1>
<div class="alet alert-primary" role="alert">
  Bem-vindo a minha breve apresentação!!!
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="../assets/img/perfil.png" />
        <P></P>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card">
      <div class="card-body">
          <p>Nome : Luiz/Gabriel</p>
          <p>Idade : 19/18 anos</p>
          <p>Hobbyes : Pescar, cozinhar, coser e dormir.</p>
          <p>Profissão : Desenvolvedor de sistemas</p>
          <p>Escolaridade : Ensino médio completo; Ensino técnico - Análise e Desenvolvimento de Sistemas [cursando]; Ensino superior Desenvolvimento de Sistemas [cursando].</p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
